{% extends 'home.html' %}
{% load staticfiles %}
{% block title %}
    主页
{% endblock %}

{% block header %}
    {% if user.id %}
        <ul class="nav navbar-nav navbar-right">
            <li><img src="{% static user.u_header %}" alt="用户头像" height="32px" width="32px" margin="80px"
                     class="navbar-btn" ></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{ user.u_name }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/msg/" type="submit">个人空间</a></li>
                    <li><a href="/cgmsg/" type="submit">修改信息</a></li>
                    <li><a href="/logout/" type="submit">登出</a></li>
                </ul>
            </li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login/">登录</a></li>
            <li><a href="/regist/">注册</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block center %}

{% endblock %}


